.mainContainer {
  padding: 2rem;
  background-color: var(--var--light--skin--colour);
  min-height: 100vh;
}

.inputRequest {
  width: 30rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.inactiveRow {
  background-color: aqua !important;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnSendRequest {
  margin: 1rem;
  background-color: var(--var--stawberry--purple);
  color: var(--var--white);
  transition: 0.3s;
}

.btnSendRequest:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnPagination {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--var--stawberry--purple);
  color: var(--var--white);
  font-size: 1rem;
  border: none;
  transition: 0.5s;
}

.btnPagination:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginationZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.paginationZone span {
  font-size: 1.3rem;
}
.takenContainer {
  height: 100vh;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
