.menuBtn {
  background-color: var(--var--dark--lighter-green);
  color: var(--var--light--skin--colour);
  padding: 1rem;
  border-radius: 100%;
  position: fixed;
  height: 4rem;
  width: 4rem;
  top: 2rem;
  left: 2rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuBtn:hover {
  cursor: pointer;
}

.sidebarContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--var--dark--lighter-green);
}

.icon {
  height: 3rem;
  width: 3rem;
}

.content {
  background-color: var(--var--dark--lighter-green);
  color: var(--var--light--skin--colour);
  height: 100%;
}
