.mainContainer {
  overflow: hidden;
  background-color: var(--var--ciocolatte);
}

h2 {
  margin: 0;
}

.backgroundImage {
  background-position: center;
  max-height: 100vh;
  position: relative;
  margin: 0;
}
.form {
  position: absolute;
  top: 2%;
  left: 20%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--var--ciocolatte);
}

.displayNone {
  display: none;
}

.displayBloc {
  display: block;
}
.btnLogin {
  border: 2px solid var(--var--dark--brown);
  color: var(--var--dark--brown);
  transition: 0.5s;
}

.btnRegister {
  background-color: var(--var--dark--brown);
  color: var(--var--white);
  transition: 0.5s;
}

.btnRegister:hover,
.btnLogin:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  text-decoration: none;
}

.btnZone {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input {
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  border: none;
}
.formRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 3rem 2rem;
}
